= error_messages_for 'page', :object => form.object

%div
  = form.label :title, 'Title (required)'
  %div= form.text_field :title, :class => 'span-14 title'
%div
  = form.label :path, 'Path (required)'
  %div= form.text_field :path, :class => 'span-10 text'
.append-bottom
  = form.text_area :body, :class => 'span-24'
