= error_messages_for 'page', :object => form.object, :class => 'box'

.append-bottom
  = form.label :path, 'Path'
  %div= form.text_field :path, :class => 'span-24 text'
.append-bottom
  = form.label :doctype, 'DOCTYPE'
  %div= form.select :doctype, DOC_TYPES
.append-bottom
  = form.label :head, 'HEAD'
  = form.text_area :head, :class => 'span-24'
.append-bottom
  = form.label :body, 'BODY'
  = form.text_area :body, :class => 'span-24'
