= error_messages_for 'page', :object => form.object, :class => 'box'

.append-bottom
  .first.column.span-22
    = form.label :name, 'Name'
    %div= form.text_field :name, :class => 'span-22 text'
  .last.column.span-2
    = form.label :locale, 'Locale'
    %div= form.text_field :locale, :class => 'span-2 text', :maxlength => 2
.append-bottom
  = form.label :doctype, 'DOCTYPE'
  %div= form.select :doctype, DOC_TYPES
.append-bottom
  = form.label :head, 'HEAD'
  = form.text_area :head, :class => 'span-24'
.append-bottom
  = form.label :body, 'BODY'
  = form.text_area :body, :class => 'span-24'
