- content_tag_for :tr, page, :class => eo(page_counter) do
  %td.span-7.title= link_to h(page.title), admin_page_path(page)
  %td.span-12.path&= page.path
  %td.span-3
    = page.updated_at.to_formatted_s :short
    = "/<br />#{ page.oli.created_at.to_formatted_s :short }" if page.oli
  %td.last.span-1.action= check_box_tag 'page_ids[]', page.id
