.box
  - render_navigation :style => 'float: left;', :class => '' do
    .column= link_to '&laquo; Pages', admin_pages_path
    .column
      - if @page.pagification
        = link_to 'Edit', polymorphic_path([:admin, @page.pagification.pagified])
      - else
        = link_to 'Edit', edit_admin_page_path(@page)
    .column= link_to 'Attachments', :anchor => 'attachments'
  - render_navigation :style => 'float: right;', :class => 'span-6' do
    - unless @page.categories.empty?
      - for category in @page.categories
        .column= link_to h(category), admin_category_path(category.id)
    - else
      .column None
  - render_navigation :style => 'float: right;', :class => '' do
    .column.loud Categories:
  %br.clear

%h3 Preview
%object{ :data => preview_admin_page_path(@page), :type => 'text/html', :standby => 'Generating Preview!', :width => '950', :height => '480' }

.prepend-top.clear= render_attachment_controls_for @page
