- content_tag_for :tr, comment, :class => odd(comment_counter) do
  %td.span-5.commenter
    = mail_to comment.email, comment.author
    - unless comment.url.blank?
      = "(#{ link_to 'visit', comment.url })"
  %td.span-14.comment
    .bottom.small
      - if comment.oli
        %del= comment.message
      - else
        = comment.message
  %td.span-3.commented= comment.created_at.to_formatted_s(:short)
  %td.last.span-1.action= check_box_tag 'comment_ids[]', comment.id
