<%= error_messages_for 'plugin', :object => form.object %>

<div>
	<label for="plugin_name">Name</label>
	<%= form.text_field :name, :size => 60 %>
</div>
<div>
	<label for="plugin_contributor_name">Contributor Name</label>
	<%= form.text_field :contributor_name, :size => 60 %>
</div>
<div>
	<label for="plugin_contributor_email">Contributor E-Mail</label>
	<%= form.text_field :contributor_email, :size => 60 %>
</div>
<div>
	<label for="plugin_feed_path">Feed Path</label>
	<%= form.text_field :feed_path, :size => 60 %>
</div>
<div>
	<label for="plugin_documentation_path">Documentation Path</label>
	<%= form.text_field :documentation_path, :size => 60 %>
</div>
<div>
	<label for="plugin_description">Description</label>
	<%= form.text_field :description, :size => 60 %>
</div>
<div>
	<%= form.label :microdoc, "Micro Documentation (#{ link_to_markdown })" %>
	<%= form.text_area :microdoc, :rows => 25, :class => 'withPreview' %>
	<%= markdown_button 'plugin_microdoc', 'Preview' %>
	<div id="plugin_microdoc_preview" class="preview"></div>
	<br style="clear: both;" />
</div>
