%strong= "#{ pluralize @comment.errors.size, 'error' } prohibited this comment from being saved"
- form_for :comment, :url => request.path, :html => { :class => 'append-bottom' } do |f|
  = hidden_field_tag :return_to, params[:return_to]
  .column= f.text_area :message, :class => 'bottom span-14'
  .last{ :style => 'float: right;' }
    %div
      = f.label :author, 'Name (required)'
      %div= f.text_field :author, :class => 'span-10 text'
    %div
      = f.label :email, 'E-Mail (required, but not published)'
      %div= f.text_field :email, :class => 'span-10 text'
    %div
      = f.label :url, 'Website'
      %div= f.text_field :url, :class => 'span-10 text'
    .prepend-top= submit_tag 'Submit Comment'
  %br.clear
