%div{ :style => 'float: right;' }
  - form_for attachment, :url => "#{ record_path }/attachments", :html => { :multipart => true } do |f|
    = hidden_field_tag :return_to, "#{ record_path }#attachments"
    = select_tag 'type', options_for_select(ATTACHMENT_TYPES)
    = f.file_field :attachable
    = submit_tag 'Attach File'

%h3 Attachments

.clear

- form_tag "#{ record_path }/attachments/bulk" do
  = hidden_field_tag :return_to, "#{ record_path }#attachments"
  %table#attachments.bottom
    %thead
      %tr
        %th.span-14.file_name Path
        %th.span-2.file_size Size
        %th.span-4.content_type Content-Type
        %th.span-3.uploaded Uploaded
        %th.last.span-1.action &nbsp;
    %tbody
      = render :partial => 'admin/attachments/attachment', :collection => attachments

  .append-1.push-1
    = select_bulk_action 'destroy'
    = submit_tag 'Attachments', :class => 'span-3'

.clear
