<% content_tag_for :tr, article, :class => odd(article_counter) do %>
<td class="cmArticleTitle">
	<%= link_to h(article.title), edit_admin_article_path(article.id) -%>
	-
	<%= article.comments.count %> <%= link_to 'comments', '/admin/article/1/comments' %>
</td>
<td class="cmArticleIntroduction">
	<div class="articleIntroduction">
		<%=markdown article.introduction + " [more...](#{ admin_article_path article.id })" -%>
	</div>
	<div class="articleFooter">
		<%= mail_to article.author.email, article.author, :encode => :hex %> |
		<%= article.published_at current_timezone -%> |
		<%= link_to "#{ article.comments.count } comments &raquo;", article_by_ident_path(article, :anchor => 'comments') %>
	</div>
</td>
<td class="cmTimestamp"><%= article.updated_at %></td>
<td class="cmTimestamp"><%= article.publication.created_at if article.publication %></td>

<td class="cmAction"><%= check_box_tag 'article_ids[]', article.id -%></td>
<% end %>
