= error_messages_for 'article', :object => form.object

%div
  .first.column.span-14
    = form.label :title, 'Title (required)'
    %div= form.text_field :title, :class => 'span-14 title'
  .last.column
    = form.label :author_id, 'Author'
    %div= form.select :author_id, User.select_all(:name__id)
  %br.clear
.append-bottom
  .first.column.span-14
    = form.label :category_names, 'Categories'
    %div= form.text_field :category_names, :class => 'span-10 text'
  .last.column
    = form.label :category_id, 'Main Category (leave blank for first)'
    %div= form.select :category_id, Categorizable::Category.select_all(:name__id), :include_blank => true
  %br.clear
.append-bottom.span-18
  %div{ :style => 'float: right;' }
    .first.column= link_to_textile
    .last.column= preview_textile_link 'article_teaser'
  = form.label :teaser
  %br.clear
  = textile_editor :article, :teaser, :class => 'top span-18', :style => 'height: 80px; padding-right: 3px;'
  = preview_field_for 'article_teaser'
.append-bottom.span-18
  %div{ :style => 'float: right;' }
    .first.column= link_to_textile
    .last.column= preview_textile_link 'article_body'
  = form.label :body, 'Body (required)'
  %br.clear
  = textile_editor :article, :body, :class => 'top span-18', :style => 'padding-right: 3px;'
  = preview_field_for 'article_body'

%br.clear
= textile_editor_initialize
