<%= error_messages_for 'page', :object => form.object %>

<div>
	<label for="page_title">Title</label>
	<%= form.text_field :title, :size => 60 %>
</div>
<% unless form.object.not_found? or form.object.homepage? %>
<div>
	<label for="page_name">Name</label>
	<%= form.text_field :name %>
</div>
<% end %>
<div>
	<label for="page_body_markdown">Body (<%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax' %>)</label>
	<%= form.text_area :body_markdown, :cols => 78 %>
</div>
