<%= remote_plugin_feed @plugin %>

<h3>
	<b><%= @plugin.name %></b>
	by <%= mail_to h(@plugin.contributor_email), @plugin.contributor_name, :encode => 'hex' %>
</h3>

<%= @plugin.microdoc %>

<% unless @plugin.documentation_path.blank? %><%= link_to 'Full Documentation', @plugin.documentation_path %><% end %>
