!!! Strict

%html
  %head
    %title= "Administration: #{ h page_title } [#{ APPLICATION_NAME }]"

    <meta content='text/javascript' http-equiv='content-script-type' />
    <meta content='text/css' http-equiv='content-style-type' />
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta content='en' name='content-language' />

    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    = stylesheet_link_tag 'application', :media => 'screen, projections'
    = javascript_include_tag :defaults, :cache => true
    = syntaxhighlighter

  %body
    #top.container
      - render_navigation :class => 'prepend-top', :style => 'float: left;' do
        .column= link_to 'Pages', admin_pages_path
        .column= link_to 'Articles', admin_articles_path
        .column= link_to 'Projects', admin_projects_path
        .column= link_to 'Categories', admin_categories_path
        .column= link_to 'Navigations', admin_navigations_path
        .column= link_to 'Users', admin_users_path
      - render_navigation :class => 'prepend-top', :style => 'float: right;' do
        .column= link_to 'Profile', edit_admin_user_path(current_user, :return_to => request.path)
        .column= link_to 'Logout', logout_path
      .clear

      .prepend-top
        %h1
          - if @icon and @icon.file?
            .pull-2= image_tag @icon.url, :style => 'position: fixed;'
          &= page_title
      %hr.top.bottom
      = yield
    #bottom

    :javascript
      if(window.isBloggerMode == true)
      dp.SyntaxHighlighter.BloggerMode();

      dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
