!!! Strict

%html
  %head
    = page.metatags
    %title&= page.title

    = page.stylesheets

  %body
    #top.container
      - render_navigation :class => 'prepend-top', :style => 'float: left;' do
        .column= link_to 'Pages', admin_pages_path
        .column= link_to 'Themes', admin_themes_path
        .column= link_to 'Categories', admin_categories_path
        .column= link_to 'Users', admin_users_path
      - render_navigation :class => 'prepend-top', :style => 'float: right;' do
        .column= link_to 'Profile', edit_admin_user_path(current_user, :return_to => request.path)
        .column= link_to 'Logout', logout_path
      .clear

      .prepend-top
        %h1&= page.title
      %hr.top.bottom
      = yield
    #bottom
