!!! Strict

%html
  %head
    %title&= "#{ APPLICATION_NAME } | #{ h page_title }"

    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta content='en' name='content-language' />

    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/stylesheets/blueprint/application.css" type="text/css" media="screen, projection">

  %body
    #top.container
      - render_navigation :class => 'prepend-top', :style => 'float: left;' do
        .column= link_to 'Pages', admin_pages_path
        .column= link_to 'Categories', admin_categories_path
        .column= link_to 'Navigations', admin_navigations_path
        .column= link_to 'Users', admin_users_path
      - render_navigation :class => 'prepend-top', :style => 'float: right;' do
        .column= link_to 'Profile', edit_admin_user_path(current_user, :return_to => request.path)
        .column= link_to 'Logout', logout_path
      .clear

      .prepend-top
        %h1&= page_title
      %hr.top.bottom
      = yield
    #bottom
