<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= page_title %></title>

	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<meta content="en" name="content-language" />

	<%= stylesheet_link_tag 'application', 'ruby', :cache => true %>
	<%= javascript_include_tag :defaults, :cache => true %>
	<%= javascript_include_tag 'application' %>
</head>
<body>

	<div id="header">
		<%= image_tag 'ruby-sequel.png', :alt => 'Ruby Sequel', :id => :logo %>
		<h1>The Ruby Database Toolkit</h1>
		<div id="navigation">
			<ul>
				<li><%= link_to 'Pages', admin_pages_path %></li>
				<li><%= link_to 'News', admin_articles_path %></li>
				<li><%= link_to 'Plugins', admin_plugins_path %></li>
				<li><%= link_to 'Users', admin_users_path %></li>
				<li><%= link_to 'Logout', logout_path %></li>
			</ul>
		</div>
		<br style="clear: both;" />
	</div>

	<hr />

	<div id="content">
		<br style="clear: both;" />
		<%= yield %>
		<br style="clear: both;" />
	</div>

	<div id="footer">
		<p>
			<a href="http://github.com/boof/www-ruby-sequel-org/tree/master">This page is still under development!</a>
		</p>
	</div>

</body>
</html>
