= hidden_field_tag :return_to, params[:return_to]
- unless form.object.errors.empty?
  .error
    = pluralize form.object.errors.size, 'error'
    prohibited this node from being saved.

%div
  = form.label :content, 'Content (required)'
  %div= form.text_field :content, :class => 'span-20 title'

%div
  = form.label :html_class, 'Class'
  %div= form.text_field :html_class, :class => 'span-10 text'

.append-bottom
  .first.column
    = form.label :url
    %div= form.text_field :url, :class => 'span-12 text'
  .last.column
    %br
    %div= select_tag 'node[registered_path_id]', registered_paths_options(form.object), :class => 'span-12'
  %br.clear
