<% content_tag_for :tr, article do %>
<td class="cmArticleTitle"><%= link_to h(article.title), edit_content_management_news_path(article) -%></td>
<td class="cmTimestamp"><%= article.updated_at %></td>
<td class="cmAction"><%= link_to_publish_or_revoke article %></td>
<td class="cmAction"><%= link_to image_tag('icons/page_delete.gif'), content_management_news_path(article), :method => :delete, :confirm => "Article '#{ article.title }'?", :title => 'Click here to delete this article.' -%></td>
<% end %>
<% content_tag_for :tr, article, :summary do %>
<td colspan="4" class="cmArticleSummary">
<%= article.head -%>
<%= link_to 'Continue reading ...', content_management_news_path(article) %>
</td>
<% end %>
