.column= link_to APPLICATION_NAME, root_path
.column= link_to 'Blog', blog_index_path
.column= link_to 'Projects', projects_path
.column= link_to 'Categories', categories_path
.column= link_to 'Administration', admin_pages_path
.clear
