<% div_for article do %>
	<h3>
		<b><%= link_to article.title, find_news_by_ident_path(article.ident) -%></b>
		by <%= mail_to article.author.email, article.author, :encode => :hex %>
		(<%= article.created_at -%>)
	</h3>
	<div>
		<%= article.head %>
		<%= link_to 'Continue reading...', find_news_by_ident_path(article.ident) -%>
	</div>
<% end %>
