<%= error_messages_for 'project', :object => form.object %>

<div>
	<%= form.label :name, 'Name' %>
	<%= form.text_field :name, :size => 60 %>
</div>
<div>
	<%= form.label :homepage, 'Homepage' %>
	<%= form.text_field :homepage, :size => 60 %>
</div>
<div>
	<%= form.label :introduction, "Introduction (#{ link_to_textile })" %>
	<%= form.text_area :introduction, :rows => 3, :class => 'withPreview' %>
	<%= markdown_button 'project_intro', 'Preview' %>
	<div id="project_intro_preview" class="preview"></div>
	<br style="clear: both;" />
</div>
<div>
	<%= form.label :description, "Description (#{ link_to_textile })" %>
	<%= form.text_area :description, :rows => 25, :class => 'withPreview' %>
	<%= markdown_button 'project_description', 'Preview' %>
	<div id="project_description_preview" class="preview"></div>
	<br style="clear: both;" />
</div>
