.box
  - render_navigation :style => 'float: left;', :class => '' do
    .column= link_to '&laquo; Pages', admin_pages_path
    .column= link_to 'Edit Details', edit_admin_themed_page_path(@themed_page)
    .column= link_to 'Attachments', :anchor => 'attachments'
  - render_navigation :style => 'float: right;', :class => 'span-6' do
    - unless @themed_page.categories.empty?
      - for category in @themed_page.categories
        .column= link_to h(category), admin_category_path(category.id)
    - else
      .column None
  - render_navigation :style => 'float: right;', :class => '' do
    .column.loud Categories:
  %br.clear

%h3 Page Builder (doppelt)
%hr.bottom
.box
  - render_navigation :style => 'float: left;', :class => '' do
    - @themed_page.elements.available.each do |element|
      .column= link_to element.to_s(:icon, :size => '35x22'), new_admin_themed_page_element_path(@themed_page, :element_name => element.name), :title => "Add #{ element.name.titleize } Element"
  - render_navigation :style => 'float: right;', :class => 'span-2' do
    .column= link_to image_tag('icons/emblem-symbolic-link.png'), preview_admin_page_path(@themed_page.page)
    .column= link_to image_tag('icons/emblem-unreadable.png'), admin_pages_path
  %br.clear

.first.column.span-24
  - if @themed_page.elements.empty?
    &nbsp;
  - @themed_page.elements.each do |element|
    - render_navigation do
      .first.column Element:
      .column= link_to 'Edit', edit_admin_themed_page_element_path(@themed_page, element)
      .last.column= link_to 'Destroy', admin_themed_page_element_path(@themed_page, element), :method => :delete
      %br.clear
      %hr.bottom
    = element.to_s(:sketch)
.clear

.box
  - render_navigation :style => 'float: left;', :class => '' do
    - @themed_page.elements.available.each do |element|
      .column= link_to element.to_s(:icon, :size => '35x22'), new_admin_themed_page_element_path(@themed_page, :element_name => element.name), :title => "Add #{ element.name.titleize } Element"
  - render_navigation :style => 'float: right;', :class => 'span-2' do
    .column= link_to image_tag('icons/emblem-symbolic-link.png'), preview_admin_page_path(@themed_page.page)
    .column= link_to image_tag('icons/emblem-unreadable.png'), admin_pages_path
  %br.clear

.prepend-top.clear= render_attachment_controls_for @themed_page
