- div_for project, :class => 'box' do
  %h3= link_to project.name, project.website

  = textile project.teaser

  %strong Assignees:
  - for role in project.roles
    %div
      = mail_to role.user.email, role.user, :encode => :hex, :class => 'loud'
      = content_tag role.leading?? :strong : :span, "(#{ role.name })"
