= error_messages_for 'navigation', :object => form.object

= form.hidden_field :parent_id
.append-bottom
  .column
    = form.label :label
    %div= form.text_field :label, :class => 'title span-20'
  .column
    = form.label :blank, 'Hidden'
    = form.check_box :blank
  .clear


.append-bottom
  .column
    = form.label :path
    %div= form.text_field :path, :class => 'text span-20'
  .column
    = form.label :locale
    %div= form.text_field :locale, :class => 'text span-1'
  .clear
  = form.label :registered_path_id, 'or a registered path'
  - if form.object.parent_id and locale = form.object.parent.locale
    = form.select :registered_path_id, RegisteredPath.have_scope(locale).select_all(:label__id, :order => 'label'), :include_blank => true
  - else
    = form.select :registered_path_id, RegisteredPath.select_all(:label__id, :order => 'label'), :include_blank => true
