- form_for :element, @element, form_opts do |form|
  = hidden_field_tag :element_name, @origin.name
  = render_element :form, locals.merge(:form => form)

  .clear
  = submit_tag t(:save)
  = t(:or)
  = link_to t(:cancel), admin_themed_page_path(@element.themed_page)
