#comments.append-bottom
  %strong= "#{ pluralize @comments.length, 'Response' } to &ldquo;#{ @article.title }&rdquo;"

- cache "#{ request.host }/article/comments/#{ @article.id }" do
  .prepend-1.append-1= yield

- form_for :comment, :url => new_article_comment_path(@article.id) do |f|
  = hidden_field_tag :return_to, request.path

  %div= f.label :message, 'Leave a Reply'
  .first.column.span-12.append-bottom
    = f.text_area :message, :class => 'span-12 bottom'
  .last.column.span-12
    %div
      = f.label :author, 'Name (required)'
      %div= f.text_field :author, :class => 'span-12 text'
    %div
      = f.label :email, 'E-Mail (required, but not published)'
      %div= f.text_field :email, :class => 'span-12 text'
    %div
      = f.label :url, 'Website'
      %div= f.text_field :url, :class => 'span-12 text'

    .prepend-4.prepend-top= submit_tag 'Submit Comment', :class => 'span-4'
    .prepend-top
      %b Allowed Tags:
      &lt;a&gt;, &lt;b&gt;, &lt;br&gt;, &lt;cite&gt;, &lt;i&gt; and &lt;pre&gt;
      %br
      %b Wrap CODE in:
      %span{ :style => 'white-space:nowrap;' }
        &lt;pre name=&quot;code&quot; class&quot;LANGUAGE&quot;&gt;CODE&lt;/pre&gt;.
