.first.column.span-17
  .border
    - cache("#{ request.host }/article/#{ @article.id }") do
      = textile @article.body
.last.column.span-7
  .append-bottom
    %p
      %strong Author:
      = mail_to @article.author.email, h(@article.author), :encode => :hex
      %br
      %strong Published:
      = relative_date @article.oli.created_at
    - cache("#{ request.host }/article/relatives/#{ @article.id }") do
      %p
        %strong Related Articles:
        - for article in @article.relatives(8).accepted.selects(:id, :title)
          %br
          = link_to h(article), blog_path(article)
  - cache("#{ request.host }/article/clouds/#{ @article.id }") do
    .box
      - for category in @article.categories
        %span{ :style => "font-size: #{ '%.1f' % (0.9 + category.categorizations.count.to_f / Categorizable::Categorization.count) }em;" }
          = link_to h(category), category_path(category), :class => 'loud', :style => 'white-space: nowrap;'

%hr

= render :partial => @comments, :layout => 'comments'
