%h3.prepend-top Templated Page Form

= error_messages_for 'page', :object => form.object

.append-bottom
  .first.column
    = form.label :title, 'Title'
    %div= form.text_field :title, :class => 'span-14 title'
  .last.column
    = form.label :path, 'Path'
    %div= form.text_field :path, :class => 'span-10 text'

.append-bottom= render_metadata_form form.object.metadata, form.object_name
