!!! Strict

%html
  %head
    = page.metadata

    <title>
      &= page.title
    </title>

    = page.stylesheets
    = page.javascripts

  %body
    .container
      = Navigation::Container.render 'main'
      %h1&= page.title
      %hr.top
      .append-bottom= yield
      %hr.bottom
      .small= last_modified
