<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= page_title %></title>

	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<meta content="en" name="content-language" />

	<meta name="keywords" content="ruby, sequel, sql, toolkit, orm, plugins, activerecord, documentation, howto, news" />
	<meta name="description" content="Ruby Sequel is a lightweight database toolkit for Ruby." />

	<%= stylesheet_link_tag 'application', 'ruby', :cache => true %>
	<%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls', :cache => true %>
	<%= javascript_include_tag 'application' %>
</head>
<body>
	<div id="header">
		<a href="/" id="logo"><%= image_tag 'ruby-sequel.png', :alt => 'Ruby Sequel' -%></a>
		<h1>The Ruby Database Toolkit</h1>
		<div id="navigation">
			<ul>
				<li><a href="/news">News</a></li>
				<li><a href="/plugins">Plugins</a></li>
				<li><a href="/documentation">Documentation</a></li>
				<li><a href="/community">Community</a></li>
				<li><a href="http://code.google.com/p/ruby-sequel/issues/list">Development</a></li>
				<li><a href="http://code.google.com/p/ruby-sequel/w/list">Wiki</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
		<br style="clear: both;" />
	</div>

	<hr />

	<div id="content">
		<br style="clear: both;" />
		<%= yield %>
		<br style="clear: both;" />
	</div>
	
	<div id="footer">
		<p>
			<a href="http://github.com/boof/www-ruby-sequel-org/tree/master">This page is still under development!</a>
		</p>
	</div>

	<script type="text/javascript">
		//<![CDATA[
		$$(".noJS").each(function(e){e.hide();});
		
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-1271251-3");
		pageTracker._initData();
		pageTracker._trackPageview();
		//]]>
	</script>

</body>
</html>
