<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= APPLICATION_NAME %> - <%= page_title %></title>

	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<meta content="en" name="content-language" />

	<meta name="keywords" content="<%= page_keywords %>" />
	<meta name="description" content="<%= page_description  %>" />

	<%= stylesheet_link_tag 'application', 'ruby', :cache => true %>
	<%= javascript_include_tag 'prototype', 'application', :cache => :frontend %>
</head>
<body>
	<div id="top">
		<div id="navigation"><ul><%= navigation -%></ul></div>
	</div>

	<div id="middle">
		<%= yield %>
		<br style="clear: both;" />
	</div>

	<div id="bottom">
		<p>FarmFacts is <a href="http://github.com/boof/www-ruby-sequel-org">boof's www.ruby-sequel.org</a> forked by <a href="http://www.fork.de/">Fork Unstable Media</a>.</p>
	</div>
</body>
</html>
