<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title><%= page_title %></title>

	<meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="en" name="content-language" />

	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'application', 'ruby' %>

</head>
<body>

	<%= link_to image_tag('ruby-sequel.png', :alt => 'Ruby Sequel'), root_path, :id => 'logo' %>
	<h1>Ruby Sequel - The Database Toolkit for Ruby</h1>
	<div id="navigation">
		<ul>
			<li><a href="/news">News</a></li>
			<li><%= link_to 'Plugins', plugins_path -%></li>
			<li><%= link_to 'Documentation', page_by_name_path('documentation') -%></li>
			<li><%= link_to 'Community', page_by_name_path('community') -%></li>
			<li><a href="http://code.google.com/p/ruby-sequel/w/list">Wiki</a></li>
			<li><a href="http://code.google.com/p/ruby-sequel/issues/list">Bug Tracker</a></li>
			<li><%= link_to 'Login', login_path %></li>
		</ul>
	</div>

	<div id="content"><%= yield %></div>

	<div id="footer">
		<p>
			<a href="http://github.com/boof/www-ruby-sequel-org/tree/master">boof's www-ruby-sequel-org at master &mdash; GitHub</a>
		</p>
	</div>

	<%= javascript_tag '$$(".noJS").each(function(e){e.hide();});' %>

</body>
</html>
